body {
  background-color: #000;
  color: #fff;
  padding: 2rem;
}

#interactive-logo {
  transition: transform 0.3s ease;
  font-size: 2rem;
}

#interactive-logo:hover {
  transform: scale(1.1);
}


header nav ul li a {
  font-size: 1.25rem;
  color: #fff; /* Set initial color */
  transition: color 0.3s ease, font-size 0.3s ease;
}

/* Navigation Links Hover Effect */
header nav ul li a:hover {
  color: #0d6efd !important; /* Electric blue */
}


/* THIS IS WHERE THE BUTTON STYLE COMES IN ACTION FOR FILTERING */


.filter-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn.active {
    background-color: blue; /* Highlight active button */
}


/* Portfolio images styling */
.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.portfolio-item {
    width: 250px;
    height: auto;
    display: block;
}

/* Hide items by default (except for active filter) */
.portfolio-item.hidden {
    display: none;
}



.portfolio-item{
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    padding: 10px;
}

.thumbnails{
  width: 100%;
  max-width: 488px;
  height: auto;
  object-fit: cover;
  padding-bottom: 20px;

}
.portfolio-item {
  transition: transform 0.3s ease-in-out; /* Smooth effect */
}

.portfolio-item:hover {
  transform: scale(1.09) translateY(-5px); /* Increases size by 10% */
}
.no-underline{
  text-decoration: none;
}
.footer {
  background-color: #111;
}

.footer a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #0d6efd;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-section {
      height: 80vh;
      background-size: cover;
  }

  .hero-section h1 {
      font-size: 1.5rem;
  }

  .hero-section p {
      font-size: 0.875rem;
  }

  #interactive-logo {
      font-size: 1.2rem;
  }

  header nav ul li a {
      font-size: 0.65rem;
  }
}

@media (max-width: 480px) {
  #interactive-logo {
      font-size: 1rem;
  }

  header nav ul li a {
      font-size: 0.55rem;
  }

  .hero-section h1 {
      font-size: 1.25rem;
  }

  .hero-section p {
      font-size: 0.75rem;
  }
} 
